{% extends "auth_base.html" %}

{% block content %}

<div style="max-width:420px;margin:auto">

<h2>Create Account</h2>

<form id="signupForm">

<input name="full_name" placeholder="Full Name" required style="width:100%;padding:10px;margin-bottom:10px">

<input name="email" type="email" placeholder="Email" required style="width:100%;padding:10px;margin-bottom:10px">

<input name="password" type="password" placeholder="Password" required style="width:100%;padding:10px;margin-bottom:10px">

<input name="naukri_id" placeholder="Naukri Email" required style="width:100%;padding:10px;margin-bottom:10px">

<input name="naukri_password" type="password" placeholder="Naukri Password" required style="width:100%;padding:10px;margin-bottom:10px">

<button type="submit" style="width:100%">Signup</button>

</form>

<p style="margin-top:15px">
Already have account?
<a href="/">Login</a>
</p>

</div>


<script>

document
.getElementById("signupForm")
.addEventListener("submit",async function(e){

e.preventDefault()

let formData = new FormData(this)

let response = await fetch("/signup",{
method:"POST",
body:formData
})

let result = await response.json()

if(result.status==="success"){

alert("Account created successfully")

window.location="/"

}else{

alert(result.error || "Signup failed")

}

})

</script>

{% endblock %}
